!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title Subtle Entropy
  %link{:href => 'http://blog.injekt.net'}
  %updated #{Post.last_updated_timestamp}
  %author
    %name Lee Jarvis
    %email ljjarvis@gmail.com
    %uri http://injekt.net
  %id http://blog.injekt.net
  %link{:rel => 'self', :href => 'http://blog.injekt.net/feed', :type => 'application/atom+xml'}
  %link{:rel => 'alternative', :href => 'http://injekt.net', :type => 'text/html'}

  - @posts.each do |post|
    %entry
      %id injekt:subtle_entropy#{post.url}
      %title #{post.title}
      %published #{post.created_at.xmlschema}
      %updated #{post.updated_at.xmlschema}
      %author 
        %name #{post.user.username}
      %content{:type => 'html'} #{h(post.content)}
      %summary{:type => 'html'} #{h(post.summary)}
      %link{:rel => 'alternative', :type => 'text/html', :href => "http://blog.injekt.net#{post.url}"}
