%div{:class => 'post', :id => "post-#{@post.id}"}
  %div{:class => 'title'} #{@post.title}
  %div{:class => 'timestamp'} #{@post.timestamp}
  %div{:class => 'body'}
  :preserve
    #{@post.content}
  %div{:class => 'outside'}
    <script src="http://www.stumbleupon.com/hostedbadge.php?s=4"></script>
    <a href="http://reddit.com/submit" onclick="window.location = 'http://reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://reddit.com/static/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
  %div{:class => 'viewas'}
    %a.json{:href => "#{@post.url}.json"} JSON
    &#8226;
    %a.yml{:href => "#{@post.url}.yml"} YAML
    &#8226;
    %a.xml{:href => "#{@post.url}.xml"} XML
    &#8226;
    %a.txt{:href => "#{@post.url}.txt"} TXT

  - if logged_in?
    %div{:class => 'meta'}
      %a.edit{:href => "/edit/#{@post.id}"} edit
      &nbsp;&nbsp;
      <script type="text/javascript">
      function confirmdelete() {
      var del = confirm("Sure 'bout that?");
      return (del);
      }
      </script>
      %a.delete{:href => "/delete/#{@post.id}", :onClick => "return confirmdelete()"} delete

%div{:class => 'comments'}
  <div id="disqus_thread"></div>
  <script type="text/javascript">

  var disqus_identifier = #{@post.id}; 
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://injekt.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
